body{
    background: rgba(247, 169, 73, 0.911);
}
/*CABEÇALHO*/
header{
    margin-top: 10px;
}
h1{
    margin: auto;
    text-align: center;
    width: 50%;
    background: rgb(76, 76, 226);
    color: rgb(247, 250, 89);
}
/*CABEÇALHO*/ 

/*FORMULARIO*/
#formulario{
    margin: auto;
    width: 50%;
}
fieldset{
    background: white;
    margin-top: 5px;
    box-shadow: 6px 6px 3px #9c9c9c;;
}
legend{
    font-size: 1.4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}
input{
    font-size: 1.1em;
    padding: 10px; 
    background: rgba(226, 225, 225, 0.884);
    width: 90%;
    margin-bottom: 0.8vh;
    border:none ;
}
label{
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin-bottom: 3px;
}
select {
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 15vh;
    height: 4vh;
    margin-bottom: 10px;
}
/*FORMULARIO*/ 

/*BOTAO SUBMIT*/
.btn{    
    margin-top: 15px;
    margin-bottom: 25px;
}
.btn button{
    border: none;
    width: 100%;
    padding: 1vh;
    border-radius: 10px ;
    box-sizing: border-box;
    font-size: 1.4em;
    background: rgb(227, 227, 250);
    color: rgb(10, 10, 10);
}
.btn button:hover{
    background: blue;
    color: yellow;
}
/*BOTAO SUBMIT*/ 

/*RODAPE*/
footer{
    background: blue;
    font-size: 1.4em;
    color: rgb(236, 233, 30);
    text-align: center;
    padding: 1.4vh;
    margin-bottom: 0px;

}